/* astrid should be at the very top and is the styling for the entire page */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/img/greenwater.jpg");
    background-repeat: repeat;
    height: 100%;
}

/* this is the start of my navigation styles*/

nav {
     height: 100px;
     width: 100%;
     background-color: rgba(255, 255, 255, 0.521);
     position: sticky;
     top: 0;
     z-index: 1;
}

.logo {
    float: left;
    height: 100px;
    width: 100px;
} 

nav ul {
     text-align: center;
     list-style-type: none;
}

nav ul li {
     display: inline-block;
     margin: 40px 35px;
}

nav ul li a {
     color: aquamarine;
     font-weight: bolder;
     text-transform: uppercase;
     text-decoration: none;
}

nav ul li a:hover {
     color: rgb(126, 217, 87);
}

 /* This is the end of the navigation css */


/* Main section */
main {
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.466);
    margin-top: 2%;

}
main > section {
    margin-bottom: 3rem;
    padding: 0 1rem;
}
main > section > img {
    width: 400px;
    float: left;
    border: 2px solid;
    margin: .5rem 1rem;
}

main > section + section {
clear:both
}

main>section+section img {
    width: 400px;
    float: right;
}

main>section+section+section img {
    width: 400px;
    float: left;
    border: 2px solid;
    margin: .5rem 1rem;
}

main>section+section+section+section img {
    width: 400px;
    float: right;
}



/* begining of footer */
footer {
    height: 190px;
    background-color: rgba(255, 255, 255, 0.521);
    color:black;
    text-align: center;
    clear:both;
}

footer .columnfooter {
    float: left;
    width: 50%;
    margin-top: 3.5rem;
}



footer .row {
    content: "";
    clear: both;
    text-align: center;

} 

/* end of footer */