* {
    margin: 0;
    padding: 0;
}

/* this is the start of my navigation styles*/

 nav {
     height: 105px;
     width: 100%;
     margin-bottom: 10px;
     background-color: aqua;
     position: sticky;
     top: 0;
     z-index: 1;
 }

 .logo {
    width: 110px;
    height: 110px;
    float: left;
 }

 nav ul {
     text-align: center;
     list-style-type: none;
 }

 nav ul li {
     display: inline-block;
     margin: 40px 35px;
 }

 nav ul li a {
     color: rgb(255, 255, 255);
     font-weight: bolder;
     text-transform: uppercase;
     text-decoration: none;
 }

 nav ul li a:hover {
     color: rgb(126, 217, 87);
 }

 /* This is the end of the navigation css */

 /* body section */

body {
    background-image: url("/img/greenwater.jpg");
    background-repeat: repeat;
}

/* end of body */


 /* div section */

 h1 {
    text-align: center;
    text-transform: uppercase;
 }
 aside{
    height: 800px;
    width: 45%;
    background-color: green;
    float: left;
}

aside input[type=text], select, textarea {
    
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
aside input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
aside input[type=submit]:hover {
    background-color: #45a049;
  }
  
aside .container {
    width: 50%;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 30px;
    margin-left: 180px;
    margin-top: 85px;

  }


section{
    height: 400px;
    width: 55%;
    background-color: #800080;
    float: right;
}

section .google-map {
    position:relative;
    top: 5%;
    left: 30%;
}

article {
    height: 400px;
    width: 55%;
    background-color: purple;
    float: right;
}

article form {
    border: 3px solid #f1f1f1;
    width: 55%;
    position: relative;
    left: 23%;
    top: 5%;
  }
  
article .container {
    background-color: #f1f1f1;
  }
  
article input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
article input[type=checkbox] {
    margin-top: 16px;
    cursor: pointer;
  }
  
article input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
  }
  
article input[type=submit]:hover {
    opacity: 0.8;
  }

/* end of div section */

/* FOOTER STARTS BELOW */

footer{
    width: 100%;
    height: 190px;
    clear: both;
    background-color: pink;
    text-align: center;
}


/* footer {
    height: 190px;
    color:black;
    background-color: aqua;
    text-align: center;
} */

footer .columnfooter {
    float: left;
    width: 50%;
    margin-top: 3.5rem;
}

footer .row {
    content: "";
    clear: both;
    text-align: center;

} 