* {
    margin: 0;
    padding: 0;
}

/* this is the start of my navigation styles*/

nav {
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.521);
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 10px;
}

.logo {
 float: left;
 height: 100px;
 width: 100px;
} 

nav ul {
  font-family: 'Vidaloka', serif;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 40px 35px;
}

nav ul li a {
  color: rgb(81, 145, 100);
  text-shadow: 2px 2px rgb(113, 205, 194);
  border-radius: 15px;
   font-weight: bolder;
   font-size: 20px;
   padding: 37px;
   text-transform: uppercase;
   text-decoration: none;
}

nav ul li a:hover {
   color: white;
   text-shadow: 2px 2px rgb(113, 205, 194);
   background-color: rgb(81, 145, 100);
}

 /* This is the end of the navigation css */

 /* body section */

body {
    background-image: url("../img/greenwater.jpg");
    background-repeat: repeat;
}

/* end of body */


 /* div section */

 h1 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    text-transform: uppercase;
    color: rgb(113, 205, 194);
    text-shadow: 1.5px 1.5px rgb(255, 255, 255);
 }
 aside{
    height: 800px;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.466);
    float: left;
    margin-bottom: 10px;
}
aside .google-form{
  background-color: rgb(113, 205, 194);
  width: 50%;
  padding: 30px;
  margin-left: 180px;
  margin-top: 85px;
}

section{
    height: 400px;
    width: 55%;
    background-color: rgba(0, 0, 0, 0.466);
    float: right;
}

section .google-map {
    position:relative;
    top: 5%;
    left: 30%;
}

article {
    height: 400px;
    width: 55%;
     background-color: rgba(0, 0, 0, 0.466);
    float: right;
}

article form {
    border: 3px solid #f1f1f1;
    width: 55%;
    position: relative;
    left: 23%;
    top: 5%;
    border-radius: 10px;
    text-align: center;
    font-family: 'Vidaloka', serif;
    color: rgb(81, 145, 100);
  }
  
article .container {
  font-family: 'Sorts Mill Goudy', serif;
    background-color: #f1f1f1;
  }
  
article input[type=text], input[type=submit] {
    font-family: 'Sorts Mill Goudy', serif;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
article input[type=checkbox] {
    margin-top: 16px;
    cursor: pointer;
  }
  
article input[type=submit] {
  font-family: 'Sorts Mill Goudy', serif;
    background-color: rgb(113, 205, 194);;
    color: white;
    border: none;
    cursor: pointer;
  }
  
article input[type=submit]:hover {
    opacity: 0.8;
  }

/* end of div section */

/* FOOTER STARTS BELOW */

footer{
    font-family: 'Sorts Mill Goudy', serif;
    width: 100%;
    height: 190px;
    clear: both;
    background-color: rgba(255, 255, 255, 0.521);
    text-align: center;
}



footer .columnfooter {
    float: left;
    width: 50%;
    margin-top: 3.5rem;
}

footer .columnfooter a {
  color: rgb(81, 145, 100);
  text-decoration: none;
}

footer .columnfooter a:hover{
  color: rgb(113, 205, 194);
}

footer .row {
    content: "";
    clear: both;
    text-align: center;

} 

footer .fab {
  color: rgb(81, 145, 100);

}
footer .fab:hover{
  color:rgb(113, 205, 194);
}
a:-webkit-any-link {
  color: none;
  cursor: pointer;
  text-decoration: none;
}