/* astrid should be at the very top and is the styling for the entire page */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/greenwater.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
}

/* this is the start of my navigation styles*/

 nav {
     height: 100px;
     width: 100%;
     background-color: rgba(255, 255, 255, 0.521);
     position: sticky;
     top: 0;
     z-index: 1;
     margin-bottom: 10px;
 }
 
 .logo {
    float: left;
    height: 100px;
    width: 100px;
} 

 nav ul {
     list-style-type: none;
     text-align: center;
 }

 nav ul li {
     display: inline-block;
     margin: 40px 35px;
 }

 nav ul li a {
    color: rgb(81, 145, 100);
    text-shadow: 2px 2px rgb(113, 205, 194);
    border-radius: 15px;
     font-weight: bolder;
     font-size: 20px;
     padding: 37px;
     text-transform: uppercase;
     text-decoration: none;
 }

 nav ul li a:hover {
     color: white;
     text-shadow: 2px 2px rgb(113, 205, 194);
     background-color: rgb(81, 145, 100);
 }

 /* This is the end of the navigation css */

 /* div section */


main {
    width: 100%;
    height: 630px;
}

main .photoleft {
    float:left;
    clear: right;
  }

 main .photoright {
      float:right;
      clear: right;
  }

  .typewriter {
    font-family: Courier, monospace;
	display: inline-block;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(81, 145, 100);
    text-shadow: 4px 4px rgb(113, 205, 194);
    background-color: rgba(255, 255, 255, 0.521);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

/* main .copy-text {
    color: #fff;
    text-align: center;
    font-size: 105px;
    /* Below the position property is being used with it's corresponding properties to center the copy text right in the center of the hero section
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

 footer {
    height: 190px;
    clear:both;
    background-color: rgba(255, 255, 255, 0.521);
  }


footer .columnfooter {
    float: left;
    width: 50%;
    margin-top: 3.5rem;
    color:black;
    text-align: center;
    
}

footer .columnfooter a {
    color: rgb(81, 145, 100);
    text-decoration: none;
}

footer .columnfooter a:hover{
    color: rgb(113, 205, 194);
}


footer .row {
    content: "";
    clear: both;
    text-align: center;

} 

footer .fab {
    color: rgb(81, 145, 100);

}
footer .fab:hover{
    color:rgb(113, 205, 194);
}
a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}